.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal {
    position: relative;
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: $primary;
    transition: color 0.3s;
  
    &:hover {
      color: #ff0000;
    }
  }

  .heading {
    font-family: var(--font-inter);
    color: $primary;
  }

  .btnContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: $primary;
    font-size: medium;
    font-weight: 600;
    min-width: 100px;
    height: 2.5rem;
    margin: 10 0px;
    border-radius: 10px;
    padding: 0 1.25;
    border: 1px solid $primary;
    cursor: pointer;
}

.btn:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: $primary;
  color: white;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
  